android-studio
asp
bibata-cursor-theme
bluez-hciconfig
bluez-hcitool
brave-bin
breeze-default-cursor-theme
brillo
clion
clion-cmake
clion-gdb
clion-jre
clion-lldb
dracula-gtk-theme
electron19
envycontrol
i3lock-color
intellij-idea-ultimate-edition
intellij-idea-ultimate-edition-jre
libpamac-aur
nordic-darker-theme
nordic-theme-git
orchis-theme
pamac-aur
postman-bin
powerstat
pycharm-professional
python-clickgen
python-mouseinfo
python-pulsectl
python-pulsectl-asyncio
python-pyautogui
python-pymsgbox
python-pyscreeze
python-pytweening
qtile-extras-git
ruby-fusuma
ruby-fusuma-plugin-sendkey
ruby-revdev
sddm-theme-corners-git
spicetify-cli
spotify
spotify-tui
ticktick
ttf-apple-emoji
ttf-font-awesome-5
ttf-scientifica
visual-studio-code-bin
whitesur-gtk-theme
wlroots0.15
wlroots0.15-debug
xmeasure
