/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:         #2E3440FF;
    background-alt:     #383E4AFF;
    foreground:         #D8DEE9FF;
    selected:           #81A1C1FF;
    selected-box:       #BF616AFF;
    lighter-background: #434C5E;
    active:             #A3BE8CFF;
    urgent:             #BF616AFF;
}
